{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block header %}
    <!-- Page Header -->
    <div class="page-heading">
        <h1>Categories</h1>
        <hr class="small">
    </div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
        </div>
    </div>
</div>
{% endblock content %}
