{% if DEFAULT_PAGINATION %}
    <!-- Pager -->
    {% if articles_page.has_previous() %}
    <div class="col">
        <a class="btn btn-primary" href="{{ SITEURL }}/{{ articles_previous_page.url }}" role="button">&larr; Newer Posts</a>
    </div>
    {% endif %}


    {% if articles_page.has_next() %}
    <div class="col">
        <a class="btn btn-primary" href="{{ SITEURL }}/{{ articles_next_page.url }}" role="button">Older Posts &rarr;</a>
    </div>
    {% endif %}

    <div class="col">
    <p>Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</p>
    </div>
{% endif %}
