{% macro gallery(title, gallery, default_caption) -%}
<div class="gallery text-center">
    <div class="row">
    {% if title | trim %}<h2>{{ title }}</h2>{% endif %}
    {% for name, photo, thumb, exif, caption in gallery %}
    <div class="col-md-4 col-sm-6">
        <a href="{{ SITEURL }}/{{ photo }}" title="{{ caption|default(default_caption, true)|e }}">
            <img
                src="{{ SITEURL }}/{{ thumb }}"
                class="img-responsive"
                alt="{{ caption | default(default_caption, true)|e }}"
                height="{{ thumb.height }}"
                width="{{ thumb.width }}"
                {% if thumb.srcset.html_srcset %}srcset="{{ thumb.srcset.html_srcset }}"{% endif %}
                sizes="(max-width: 768px) 50vw, 33vw"
                loading="lazy"
            />
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro -%}
