{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
    <!-- Page Header -->
    <div class="page-heading">
        <h1>Tags</h1>
        <hr class="small">
    </div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="tags-cloud" style="margin-bottom:30px;">
                        {% for tag, articles in tags_sorted_by_article_length %}
                                <a href="{{ SITEURL }}/{{ tag.url }}" class="tag-pill">
                                    <span class="tag-name">{{ tag.name }}</span>
                                    <span class="tag-count">{{ articles|length }}</span>
                                </a>
                        {% endfor %}
                        </div>
        </div>
    </div> 
</div>
{% endblock content %}
