{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}
    <!-- Page Header -->
    <div class="page-heading">
        <h1>Tags</h1>
        <hr class="small">
    </div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul>
            {%- for tag, articles in tags|sort %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
            {% endfor %}
        </ul>
        </div>
    </div> 
</div>
{% endblock content %}
