{% extends "base.html" %}
{% block content %}
<div class="greeting">{{ GREETING }}</div>
<div id="profile-circle" class="profile-circle" style="background-image: url('{{ SITEURL }}/{{ AVATAR }}"></div>
<div class="content"><p>This site is a portal for different hobby projects I want to post online that don't fit into any regular social network or the <a href="http://jtvanlew.github.io">github blog</a> that I post to very, very infrequently. There might be some photography-based pages, maybe some write-ups of engineering projects I've played with, or possibly a couple examples of web-code that never made it into a full-fledged project. Or, most-likely, a bunch of dead links. Who knows! Kbye.</p></div>
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">{{ _('more') }} ...</a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    

    {% include 'includes/pagination.html' %}
{% endblock content %}
